{% include 'navbar.html' %}
<br>
<html>
<body>
<div class="container-fluid">
  <h3 style="color: darkkhaki">Automate Swipe Right on Bumble</h3><br>
  <img src="static/swipe_right.jpeg" width="460" height="345">
  <form action="bumble" method = POST>
    <br><label for="Login">Choose How you want to login in Bumble:</label>
    <select id="login" name="login">
      <option value="fb">Facebook</option>
      <option value="numbler">Cellphone</option>
    </select>
    <input type="submit" value="Submit" >
  </form>
</div>
</body>
</html>


